@{
    ViewBag.Title = "Home Page";
}

@model   List<ProductVisualizer.Models.AllDetail>


<link href="~/Content/bootstrap.min.css" rel="stylesheet" />
<script src="~/Scripts/jquery-1.10.2.js"></script>
<div class="jumbotron">
    <h2>Dashboard Placeholder</h2>
    <p>...</p>
    <p><a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a></p>
</div>

<div class="row">
  
</div>

<div class="row">
    <h2>Featured Products </h2> 
</div>
<div class="row">

    <div class="col-sm-6 col-md-3">
        <div class="thumbnail">
            <img src="~/imgs/DOCS.jpg" />
            
            <div class="caption">
                <h3>Thumbnail label</h3>
                <p>...</p>
                <p><a href="#" class="btn btn-primary" role="button">Button</a> <a href="#" class="btn btn-default" role="button">Button</a></p>
            </div>
        </div>
    </div>
    <div class="col-sm-6 col-md-3">
        <div class="thumbnail">

            <img src="~/imgs/placeholder.jpg" />
            <div class="caption">
                <h3>Thumbnail label</h3>
                <p>...</p>
                <p><a href="#" class="btn btn-primary" role="button">Button</a> <a href="#" class="btn btn-default" role="button">Button</a></p>
            </div>
        </div>
    </div>
    <div class="col-sm-6 col-md-3">
        <div class="thumbnail">

            <img src="~/imgs/placeholder.jpg" />
            <div class="caption">
                <h3>Thumbnail label</h3>
                <p>...</p>
                <p><a href="#" class="btn btn-primary" role="button">Button</a> <a href="#" class="btn btn-default" role="button">Button</a></p>
            </div>
        </div>
    </div>
    <div class="col-sm-6 col-md-3">
        <div class="thumbnail">

            <img src="~/imgs/placeholder.jpg" />
            <div class="caption">
                <h3>Thumbnail label</h3>
                <p>...</p>
                <p><a href="#" class="btn btn-primary" role="button">Button</a> <a href="#" class="btn btn-default" role="button">Button</a></p>
            </div>
        </div>
    </div>
</div>


@*
    <div class="row">
        @{Html.RenderAction("Filter", "PV_Software");}
    </div>*@

